<div class="auth-wrapper">
  <div class="item-card auth-card">
    <h2 class="auth-title">ЗАБУЛИ ПАРОЛЬ? 🛠️</h2>
    <p class="muted" style="text-align: center; font-size: 0.9rem; margin-bottom: 30px;">Введіть ваш email, і ми надішлемо інструкції для відновлення доступу.</p>

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="form-group form-row">
        <%= f.email_field :email, autofocus: true, placeholder: "Ваш email", class: "form-control" %>
      </div>

      <%= f.submit "Скинути пароль", class: "btn-primary btn-block" %>
    <% end %>
  </div>
</div>