<p class="notice-success"><%= notice %></p>

<% content_for :title, "Tags" %>

<h1>Tags</h1>

<div id="tags">
  <% @tags.each do |tag| %>
    <%= render tag %>
    <p>
      <%= link_to "Show this tag", [:admin, tag] %>
    </p>
  <% end %>
</div>

<%= link_to "New tag", new_admin_tag_path %>
